Temp/
Obj/
UnityGenerated/
Library/

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.blend1
*.blend1.meta

*.unitypackage
.uvgblog.txt

bakery_times.log
.ftracelog.txt
.denoiserlog.txt
.uvgblog.txt
